## 学号 姓名 pandas练习1

### 一、Series基本操作

#### 1. 使用list构造一个 Series，列表内容自定义，长度建议为5-8个元素

In [3]:
import pandas as pd

data = [10, 20, 30, 40, 50]
my_series = pd.Series(data)

print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

#### 2. 访问Series对象的values属性和index属性

In [4]:
series_values = my_series.values
print(series_values)

series_index = my_series.index
print(series_index)

[10 20 30 40 50]
RangeIndex(start=0, stop=5, step=1)

#### 3. 任意访问单个元素值

In [7]:
element_A = my_series[1]
# 访问第二个元素的值
print( element_A)

20

#### 4. 通过index列表选择Series对象的多个元素值

In [8]:
selected_elements = my_series[0:2] 

print(selected_elements)

0    10
1    20
dtype: int64

#### 5. 通过赋值改变Series对象的index，使其为以小写字母'a'开始的连续字符

In [9]:
new_index = list(chr(i) for i in range(ord('a'), ord('a') + len(my_series)))
my_series.index = new_index

print(my_series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

#### 6. 通过赋值改变Series对象value

In [11]:
my_series['b'] = 25
print(my_series)

a    10
b    25
c    30
d    40
e    50
B    25
dtype: int64

#### 7. 基于字典创建Series对象，字典内容为自定义的一组学生的信息（学号、姓名、年龄、性别……），字典元素5-8个

In [12]:
student_info = {
    '学号': '2023020131033',
    '姓名': '熊路阳',
    '年龄': 22,
    '性别': '男',
    '专业': '计算机科学与技术',
}

student_series = pd.Series(student_info)

print(student_series)

学号    2023020131033
姓名              熊路阳
年龄               22
性别                男
专业         计算机科学与技术
dtype: object

#### 8. 创建一个指定index属性的Series对象，内容长度请自定义

In [13]:
custom_index = ['A', 'B', 'C', 'D', 'E']
custom_data = [10, 20, 30, 40, 50]

custom_series = pd.Series(custom_data, index=custom_index)

print(custom_series)

A    10
B    20
C    30
D    40
E    50
dtype: int64

### 二、DataFrame基本操作

#### 1. 基于字典构造一个DataFrame对象，字典内容自定义，长度建议为5-8个元素

In [15]:
student_data = {
    '学号': ['2023020131033', '2023020131033', '2023020131033', '2023020131033', '2023020131033'],
    '姓名': ['熊路阳', '熊路阳', '熊路阳', '熊路阳', '熊路阳'],
    '年龄': [20, 22, 21, 23, 19],
    '性别': ['男', '男', '男', '男', '男'],
    '专业': ['计算机科学与技术', '计算机科学与技术', '计算机科学与技术', '计算机科学与技术', '计算机科学与技术']
}


student_df = pd.DataFrame(student_data)

print(student_df)

              学号   姓名  年龄 性别        专业
0  2023020131033  熊路阳  20  男  计算机科学与技术
1  2023020131033  熊路阳  22  男  计算机科学与技术
2  2023020131033  熊路阳  21  男  计算机科学与技术
3  2023020131033  熊路阳  23  男  计算机科学与技术
4  2023020131033  熊路阳  19  男  计算机科学与技术

#### 2. 获取DataFrame对象的任意一列，并且查看其类型

In [16]:
student_df = pd.DataFrame(student_data)

# 获取学生的年龄列并查看其数据类型
age_column = student_df['年龄']
data_type = age_column.dtype

print(data_type)

int64

#### 3. DataFrame对象具有一些基本的统计方法，它们是按列进行计算的，返回的结果是一个Series对象。 要求计算每列的均值和每列之和。

In [17]:
student_df = pd.DataFrame(student_data)

# 计算每列的均值
column_means = student_df.mean()

# 计算每列的和
column_sums = student_df.sum()

print("每列的均值:")
print(column_means)

print("\n每列的和:")
print(column_sums)

每列的均值:
学号    4.046040e+63
年龄    2.100000e+01
dtype: float64

每列的和:
学号    2023020131033202302013103320230201310332023020...
姓名                                      熊路阳熊路阳熊路阳熊路阳熊路阳
年龄                                                  105
性别                                                男男男男男
专业             计算机科学与技术计算机科学与技术计算机科学与技术计算机科学与技术计算机科学与技术
dtype: object

/var/folders/d8/q_sbp9c924g_pry9slgnndmc0000gn/T/ipykernel_60516/2292910361.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  column_means = student_df.mean()

### 三、综合练习

1. 创建一个DataFrame表示5位同学（张兰，李明等）,具体要求如下：
 - 数据集列名（共7列）：姓名、学号、班级、性别、年龄、期中成绩、期末成绩
 - 数据集中的数据自拟
2. 将姓名为“李明”学生的期中成绩改为100
3. 提取出期末成绩大于90分的学生信息
4. 删除第2位同学的数据
5. 删除“性别”这一列的所有数据
6. 增加一列“总成绩”，总成绩=40%期中成绩+60%期末成绩

#### 1. 创建数据集

In [23]:
data = {
    '姓名': ['张兰', '李明', '王红', '赵宇', '陈丽'],
    '学号': ['S001', 'S002', 'S003', 'S004', 'S005'],
    '班级': ['A班', 'B班', 'A班', 'C班', 'B班'],
    '性别': ['女', '男', '女', '男', '女'],
    '年龄': [19, 20, 21, 22, 20],
    '期中成绩': [88, 92, 85, 78, 90],
    '期末成绩': [92, 95, 88, 80, 94]
}

student_df = pd.DataFrame(data)

print(student_df)

   姓名    学号  班级 性别  年龄  期中成绩  期末成绩
0  张兰  S001  A班  女  19    88    92
1  李明  S002  B班  男  20    92    95
2  王红  S003  A班  女  21    85    88
3  赵宇  S004  C班  男  22    78    80
4  陈丽  S005  B班  女  20    90    94

#### 2. 将姓名为“李明”学生的期中成绩改为100

In [24]:
student_df.loc[student_df['姓名'] == '李明', '期中成绩'] = 100
print(student_df)

   姓名    学号  班级 性别  年龄  期中成绩  期末成绩
0  张兰  S001  A班  女  19    88    92
1  李明  S002  B班  男  20   100    95
2  王红  S003  A班  女  21    85    88
3  赵宇  S004  C班  男  22    78    80
4  陈丽  S005  B班  女  20    90    94

#### 3. 提取出期末成绩大于90分的学生信息

In [25]:
high_score_students = student_df[student_df['期末成绩'] > 90]

print(high_score_students)

   姓名    学号  班级 性别  年龄  期中成绩  期末成绩
0  张兰  S001  A班  女  19    88    92
1  李明  S002  B班  男  20   100    95
4  陈丽  S005  B班  女  20    90    94

#### 4. 删除第2位同学的数据

In [26]:
student_df = student_df.drop(1)

# 重新设置索引，使索引连续
student_df = student_df.reset_index(drop=True)


print(student_df)

   姓名    学号  班级 性别  年龄  期中成绩  期末成绩
0  张兰  S001  A班  女  19    88    92
1  王红  S003  A班  女  21    85    88
2  赵宇  S004  C班  男  22    78    80
3  陈丽  S005  B班  女  20    90    94

#### 5. 删除“性别”这一列的所有数据

In [27]:
del student_df['性别']

print(student_df)

   姓名    学号  班级  年龄  期中成绩  期末成绩
0  张兰  S001  A班  19    88    92
1  王红  S003  A班  21    85    88
2  赵宇  S004  C班  22    78    80
3  陈丽  S005  B班  20    90    94

#### 6. 增加一列“总成绩”，总成绩=40%期中成绩+60%期末成绩

In [29]:
student_df['总成绩'] = 0.4 * student_df['期中成绩'] + 0.6 * student_df['期末成绩']

print(student_df)

   姓名    学号  班级  年龄  期中成绩  期末成绩   总成绩
0  张兰  S001  A班  19    88    92  90.4
1  王红  S003  A班  21    85    88  86.8
2  赵宇  S004  C班  22    78    80  79.2
3  陈丽  S005  B班  20    90    94  92.4